#banner {
	position: relative;
	height: 40rem;
	width: 100%;
	background-color: orange;
	min-width: 18rem;
}
.nav-button-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 1rem;
	top: 10rem;
}
.bannerNavigator {
	z-index: 1;
	width: 1rem;
	height: 1rem;
	padding: 0;
	margin: 0;
	background-color: rgb(63, 63, 63);
	margin-top: 1rem;
	border: none;
	display: inline-block;
	right: 0px;
	border-radius: 50%;
	transition: background-color 0.5s;
}
.bannerNavigator:hover {
	cursor: pointer;
	background-color: rgb(2, 2, 2);
}
#active-nav-button {
	border: 3px solid rgb(112, 112, 112);
	background-color: orange;
}

@media (min-width: 668px) and (max-width: 1020px) {
	#banner {
		height: 50rem;
		width: 100%;
	}
}
@media (max-width: 667px) {
	#banner {
		height: 47rem;
		width: 100%;
	}
}
