.ourDetail {
	background-color: rgb(255, 72, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4rem;
	text-align: center;
	border: 1px solid black;
}
.ourDetail div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.num {
	font-size: 4rem;
}
