#login {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
}
.shared {
	background-color: orange;
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#login-form {
	display: flex;
	margin-top: 5rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}
#login-form > input {
	width: 30rem;
	padding: 0.5rem;
	font-size: 1rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border: none;
}
#login-form > button {
	border: none;
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	font-size: 1.5rem;
	border-radius: 1rem;
	color: white;
	background-color: rgb(255, 145, 0);
	font-weight: 900;
	font-family: "Overlock";
}
