.services {
	position: relative;
	z-index: 5;
	margin-top: -5rem;
}
#croper {
	overflow-x: hidden;
	width: 63rem;
	margin-left: auto;
	margin-right: auto;
}

.services-main {
	display: flex;
}
#pre-next-button button {
	position: absolute;
	width: 3rem;
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	z-index: 4;
	transition: all 0.4s;
	top: 10rem;
}
#pre-next-button button:hover {
	cursor: pointer;
	box-shadow: 0 0 1rem 0rem orange;
}
#pre-next-button button:active {
	background-color: rgba(255, 166, 0, 0.39);
	border-radius: 3rem;
	box-shadow: 0 0 1rem 0rem orange;
}
#pre-button {
	left: 1rem;
}
#next-button {
	right: 1rem;
}
@media (min-width: 668px) and (max-width: 1020px) {
	.services {
		margin-top: 2rem;
	}
	#croper {
		width: 36rem;
	}
}
@media (max-width: 667px) {
	.services {
		margin-top: 2rem;
	}
	#croper {
		width: 18rem;
	}
}
