nav {
	background-color: #242b2ea8;
}
.nav-div {
	max-width: 85rem;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
}
#nav-title {
	font-family: "Dancing Script", cursive;
}
#hide-nav {
	visibility: hidden;
}
.nav-title {
	text-decoration: none;
	display: flex;
	align-items: center;
	color: #ec8501;
}
.nav-title h1 {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0.5rem;
}
#nav-title::before {
	content: "S";
	font-size: 3rem;
	color: #e87301;
}
#nav-links,
#show,
#hide-nav {
	display: flex;
	align-items: center;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
#nav-links li {
	list-style: none;
	margin-right: 2rem;
}
#nav-links li a {
	text-decoration: none;
	font-weight: 600;
	color: #e07c24;
}
.user {
	display: flex;
	align-items: center;
}
.user-info img {
	height: 1.5rem;
	border-radius: 50%;
	border: 0.3rem solid white;
}
.user-info p {
	margin: 0;
	text-align: center;
	font-size: 0.7rem;
}
.logout {
	margin-left: 1rem;
}
.logout:hover {
	cursor: pointer;
}
